  <link rel="stylesheet" href="/../css/application.css">
  <style>
    body {
      background: #56BC8A;
    }

    #username {
      color: #B3D1FF;
    }

    #num {
      color: #B3D1FF;
    }

    .comments {
      border-bottom: 2px solid #B3D1FF;

    }

    #comment-form {
      margin-left: 10%;
    }

  </style>
  <div class="pushdown"></div>
 <div id="map"></div>
<!-- <div class="containerthing"> -->
<div class="containerthing">
    <img src="<%= @log.user.image %>" alt="user image" width="150" height="150">
     <p id="username"><%= @log.user.username %></p>
    <p> <%= @log.likes.count %> people favorited this workout log</p>



    <a href="/logs/<%=@log.id %>"><%= @log.title %></a>
    <p> <%= @log.duration %> </p>
    <p id="paragraph"> <%= @log.location %> </p>
    <p id="created"><%= @log.created_at.strftime("%d %b. %Y") %></p>



      <% i = 0 %>
  <%@log.workouts.each do |workout|  %>

    <% i += 1 %>
    <strong id="num"> <%=i%> </strong>


    <strong> <%=workout.name%> </strong>
    <strong>sets: <%=workout.sets%> </strong>
    <strong>reps: <%=workout.reps%> </strong>
    <strong> <%=workout.time_since_creation%> </strong>
    </br></br>

  <% end %>


  <!--
    <div id="floating-panel">
      <input id="address" type="textbox" value="Sydney, NSW">
      <input id="submit" type="button" value="Geocode">
    </div> -->


   <% @log.comments.each do |comment| %>
   <div class="comments">
    <h3> <%= comment.user.username %> </h3>
    <p> <%= comment.content %></p> </br>
    </div>
   <% end %>

    </div>
  </div>
</div>





<form id="comment-form" method="post" action="/comments">
 <input type="hidden" name="logid" value="<%= @log.id %>">

  <textarea name="content" placeholder="content"> </textarea> </br>
  <input type="submit" value="create">
</form>







<meta name="viewport" content="initial-scale=1.0">

<style>
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;

  }
  #map {
      height: 60%;
    width:70%;
    float: right;
    border-radius: 10px;
    border: 3.4px solid #47B28C;
    left: 80%;
    top: 3%;

  }
 #floating-panel {
  color: black;
  margin-top: 100px;
        position: absolute;
        top: 10px;
        left: 25%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }
    </style>

<script src="../js/showmarker.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap"
async defer></script>
