

<style>
 body {
  background: #529FCD;
 }


  h2 {
    margin-bottom: 20px;
  }

      .containeryes {

    position: relative;
    width: 800px;
    margin: 0 auto;

    }


</style>


    <h1>Your Feed</h1>
    <h2>Check out log locations of people you're following</h2>



<div class="containeryes">
  <div style="height:100%; width:100%; position: absolute;">
           <div id="map"></div>
    </div>
<div class="containerthing">


<% @current_user.followees.each do |followee| %>
  <%followee.logs.each do |log|%>
      <img src="<%= log.user.image %>" alt="user image">
      <p class="userinfo"><%= log.user.username %></p>
      <p class="paragraph"> <%= log.location %> </p>
      <p class="created"><%= log.created_at.strftime("%d %b. %Y") %></p>

  <p> <%= log.likes.count %> people favorited this workout log</p>
   <a href="/logs/<%=log.id %>"><%= log.title %></a>
  <p> <%= log.duration %> </p>
  <% end %>
<% end %>
</div>
</div>
<meta name="viewport" content="initial-scale=1.0">

<style>
  html, body {
    height: 100%;

  }
  #map {

 /*   height: 90%;
    width:70%;
    float: right;
    border-radius: 10px;
    border: 3.4px solid #47B28C;
    left: 70%;*/


     height: 60%;
    width:70%;

    border-radius: 10px;
    border: 3.4px solid #47B28C;
    left: 40%;





  }
/* #floating-panel {
  color: black;
  margin-top: 100px;
        position: absolute;
        top: 10px;
        left: 25%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }*/
    </style>
  <script src="js/feedmarkers.js"></script>

 <script src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap"
async defer></script>
