 <style>

  body {
    color: grey;
    background: white;

  }
 </style>

 <% if @user %>
  <strong>Welcome <%= @user.username  %></strong>
 <% end %>
<div class='welcome'></div>

<h3><a id="new-log" href="#">Create a new log</a></h3>
<div id="log-form-div"></div>
 <h1>Top Exercise Logs</h1>
  <h2>Sorted By Newest Content</h2>
 <div class="ajaxfollow"></div>

<div id="loglist">
 <% @logs.sort { |a, b| b.created_at <=> a.created_at }.each_slice(3) do |logarray| %>

   <div class="row">
   <% logarray.each do |log| %>
    <div class="col-md-4 showlog">
      <img src="<%= log.user.image %>" alt="user image" width="150" height="150">

    <% if @user %>
     <form  method="post" action='/logs/<%= log.id %>/like'>
       <label for="like">Favorite</label>
       <button style='color: #B3D1FF; background: #36465D; border: 1px solid #36465D;  border-radius: 5px;' class="fa fa-star" type="submit" name="submit_param" value="submit_value" class="fa fa-sort-desc vote-button upvote-button"></button>
     </form>



    <%if log.user.followers.include?(@user) %>


       <form method="post" action='/logs/<%= log.id %>/unfollow'>
         <input id="unfollow" class="button" type="submit" value="Unfollow">
       </form>
       <p class="followtext"> You are currently following <%= log.user.username %> <p>
       <% else %>
        <div id="follow<%= log.id %>">
          <form class="followbut" method="post" action='/logs/<%= log.id %>/follow'>
         <input class="button" type="submit" value="Follow">
         </form>
        </div>
     <% end %>
  <% end %>


   <% if log.title == "Leg" %>
      <img src="http://findicons.com/files/icons/2711/free_icons_for_windows8_metro/256/leg.png" alt="leg pic">
   <% end %>
     <div id="fnum<%= log.id %>">
        <p><strong id="fcount<%= log.id %>" class="ftext"> <%= log.user.followers.count %> </strong> Followers</p>
     </div>
     <p><strong class="ftext"> <%= log.likes.count %> </strong> Favorited this log </p>
      <p> Duration: <%= log.duration %> </p>
     <a href="/logs/<%=log.id %>"><%= log.title %></a>

   </div>
   <% end %>
 </div>
 <% end %>
</div>
